{% extends('base.html.twig') %}

{% block body %}
    {{ dump(error) }}
    <form class="form-signin" action="{{ path('app.login_user_action') }}" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="_username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="_password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}